.title {
  font-size: 20px;
}

.toolbar-menu {
  position: fixed;
  font-size: 1rem;
  top: 0;
  color: white;
  z-index: 1000;
  height: 64px;
  background: linear-gradient(135deg, #686565, #000000);
  border-bottom: 1px solid #707070;
  text-shadow: 2px 1px 3px #323232 ;
}

.content-center {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

@media (max-width: 600px) {
  .logo .mat-icon {
    display: none;
  }
  .usuario-logado {
    display: none;
  }
}



