<div fxLayout="row wrap">
  <mat-form-field class="filtro-search-field" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <mat-label>Filtro</mat-label>
    <input matInput type="text" placeholder="Pesquisar faturas pelo nome do cliente" (input)="search($event)">
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div fxflex="100">
  <button
    mat-raised-button color="primary" aria-label="Adicionar nova fatura"
    matTooltip="Adicionar nova fatura"
    (click)="openForm()" aria-label="Adicionar nova fatura" matTooltip="Adicionar nova fatura">
    <mat-icon>add</mat-icon>
    Adicionar
  </button>

  <ng-container>
    <div class="report-container">
      <div class="table-container" *ngIf="!isLoading; else loading">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{statusFatura(element.status)}} </td>
          </ng-container>

          <ng-container matColumnDef="valorTotal">
            <th mat-header-cell *matHeaderCellDef> Valor Total </th>
            <td mat-cell *matCellDef="let element"> {{element.valorTotal | formatoMoeda}} </td>
          </ng-container>

          <ng-container matColumnDef="inicioVigencia">
            <th mat-header-cell *matHeaderCellDef class="col-data"> Início Vigência </th>
            <td mat-cell *matCellDef="let element" class="col-data">{{element.inicioVigencia | date: 'dd/MM/yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="fimVigencia">
            <th mat-header-cell *matHeaderCellDef class="col-data"> Fim Vigência </th>
            <td mat-cell *matCellDef="let element" class="col-data">{{element.fimVigencia | date: 'dd/MM/yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="planoId">
            <th mat-header-cell *matHeaderCellDef class="col-descricao"> Plano </th>
            <td mat-cell *matCellDef="let element" class="col-descricao">
              {{ getPlanoDescricao(element.planoId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="clienteId">
            <th mat-header-cell *matHeaderCellDef class="col-descricao"> Cliente </th>
            <td mat-cell *matCellDef="let element" class="col-descricao">
              {{ getNomeCliente(element.clienteId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef class="col-acoes"></th>
            <td mat-cell *matCellDef="let element" class="col-acoes">
              <button mat-icon-button (click)="openForm(element)" matTooltip="Editar" class="action-button edit blue-button">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <mat-progress-bar style="padding-top: 35px" mode="query"></mat-progress-bar>
  </ng-template>

  <div class="paginator-wrapper">
    <mat-paginator style="background-color: rgba(216, 216, 216, 0);" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>
