<mat-dialog-content class="mat-typography">
  <h2>{{ item.fatura ? 'Formulário De Edição' : 'Formulário De Criação'}}</h2>

    <form [formGroup]="form">
      <div fxLayout="row wrap" style="margin-bottom: 30px;">
        <mat-form-field appearance="fill" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="10">
          <mat-label>Status</mat-label>
          <mat-select [formControlName]="'status'">
            <mat-option *ngFor="let option of faturaStatusOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('status')?.hasError('required')">
            Este campo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="20">
          <mat-label>Valor Total</mat-label>
          <input matInput formControlName="valorTotal" appFormatarMoeda>
          <mat-error *ngIf="form.get('valorTotal')?.hasError('required')">
            Este campo é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.xs="100" fxFlex.sm ="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="35">
          <mat-label>Início Vigência</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="inicioVigencia" placeholder="DD/MM/YYYY" (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('inicioVigencia')?.errors?.['required']">
            Este campo é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.xs="100" fxFlex.sm ="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="35">
            <mat-label>Fim Vigência</mat-label>
            <input matInput [matDatepicker]="pickerVencimento" formControlName="fimVigencia" placeholder="DD/MM/YYYY" (click)="pickerVencimento.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerVencimento"></mat-datepicker-toggle>
            <mat-datepicker #pickerVencimento></mat-datepicker>
            <mat-error *ngIf="form.get('fimVigencia')?.errors?.['required']">
              Data de vencimento é obrigatória.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.xs="100" fxFlex.sm ="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="34">
          <mat-label>Data De Vencimento </mat-label>
          <input matInput [matDatepicker]="pickerFim" formControlName="dataVencimento" placeholder="DD/MM/YYYY" (click)="pickerFim.open()">
          <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
          <mat-datepicker #pickerFim></mat-datepicker>
          <mat-error *ngIf="form.get('dataVencimento')?.hasError('required')">
            Este campo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="33">
          <mat-label>Plano</mat-label>
          <mat-select [formControlName]="'planoId'">
            <mat-option *ngFor="let plano of planos" [value]="plano.id">
              {{ plano.descricao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('planoId')?.hasError('required')">
            Este campo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="33">
          <mat-label>Cliente</mat-label>
          <mat-select [formControlName]="'clienteId'">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{ cliente.nome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('clienteId')?.hasError('required')">
            Este campo é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button">
          <button mat-raised-button color="warn" (click)="onClose()" type="button" style=" margin-right: 10px;">Fechar</button>

          <button mat-raised-button color="accent" (click)="onClearForm()" type="button" style=" margin-right: 10px;">
            {{ item.fatura ? 'Carregar' : 'Limpar' }}
          </button>

          <button mat-raised-button color="primary" (click)="onSubmitForm()">
            {{ item.fatura ? 'Alterar' : 'Adicionar' }}
          </button>
        </div>
    </form>
</mat-dialog-content>
