
<div fxLayout="row wrap">
  <mat-form-field class="filtro-search-field" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <mat-label>Filtro</mat-label>
    <input matInput type="text" placeholder="Pesquisar planos pela descrição" (input)="onSearch($event)">
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div fxflex="100">
  <button
    mat-raised-button color="primary" aria-label="Adicionar novo plano"
    matTooltip="Adicionar novo plano"
    (click)="openForm()" aria-label="Adicionar novo plano" matTooltip="Adicionar novo plano">
    <mat-icon>add</mat-icon>
    Adicionar
  </button>

  <ng-container>
    <div class="report-container">
      <div class="table-container" *ngIf="!isLoading; else loading">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
          </ng-container>

          <ng-container matColumnDef="valorPlano">
            <th mat-header-cell *matHeaderCellDef> Valor Plano </th>
            <td mat-cell *matCellDef="let element"> {{element.valorPlano | formatoMoeda}} </td>
          </ng-container>

          <ng-container matColumnDef="quantidadeUsuarios">
            <th mat-header-cell *matHeaderCellDef> Quantidade Usuários </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidadeUsuarios}} </td>
          </ng-container>

          <ng-container matColumnDef="vigenciaMeses">
            <th mat-header-cell *matHeaderCellDef> Vigência Meses </th>
            <td mat-cell *matCellDef="let element"> {{element.vigenciaMeses}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef class="col-acoes"></th>
            <td mat-cell *matCellDef="let element" class="col-acoes">
              <button mat-icon-button (click)="openForm(element)" matTooltip="Editar" class="action-button edit blue-button">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <mat-progress-bar style="padding-top: 35px" mode="query"></mat-progress-bar>
  </ng-template>

  <div class="paginator-wrapper">
    <mat-paginator style="background-color: rgba(216, 216, 216, 0);"
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons
      (page)="onPage($event)">
    </mat-paginator>
  </div>
</div>


